h1 {
	font-family: 'Oswald', sans-serif;
	margin: center;
}
h2{
	margin: center;
	font-family: 'Oswald', sans-serif;
}
h3{
	margin: right;
	font-family: 'Oswald', sans-serif;
	font-size: 18px
}
h4{
	margin: right;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}
header{
	position: fixed;
  	width: 100%;
  	z-index: 10;
  	font-family: 'Oswald', sans-serif;
}
p{
	width: 350px;
}
ul {
	margin: 30 px auto;
	text-align: center;
	font-family: "Oswald";
}
li{
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  width: 80px;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
}
.welcome{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	position: relative;
}
.history {
	text-align:left;
	font-family: 'Oswald', sans-serif;
	width: 350px;
}
